VITE_SUPABASE_URL=https://qlkdejbgrrnsdhcrkbuu.supabase.co
VITE_SUPABASE_ANON_KEY=sb_publishable_n-4ERBF_LejyLqyhQTBCNg_O2FEN9uM

# ضع هنا App ID الخاص بتطبيق OneSignal Web Push الخاص ببيئة التطوير.
VITE_ONESIGNAL_APP_ID=
